body,
html {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #272727;
    color: #f0f8ff;
    overflow-y: scroll;
    font-family: "Cinzel", serif;
}

ul {
    font-family: "Cinzel", serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

hr {
    border: 1px solid #3089b6;
    margin: 0;
    background-color: #3089b6;
}

p {
    font-family: 'Raleway', sans-serif;
}

/*Hero*/

#hero {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 6em;
    min-height: 400px;
    text-align: center;
    margin: auto;
}

#hero .tri-img {
    max-width: 55%; /* width: 450px; prev*/
    height: 100%;
}

svg {
    margin-bottom: 40px;
}
.rec {
    opacity: 0;
}

.rec.animate {

    transform-box: fill-box;
    transform: rotate(-45deg);
    animation: rotation 2s ease-out forwards;
}


@keyframes rotation {
    0% {
        opacity: 0;
        transform-origin: -250px 0 100px;
        transform: rotateY(180deg) rotate(45deg) scale(2.5);
        filter: drop-shadow( -30px 30px 5px rgb(253, 253, 253));
    }
    50% {
        opacity: 1;
        transform: rotateY(160deg) rotate(-30deg) scale(1.5);
    }
    100% {
        opacity: 1;
        transform-origin: 0 0 0;
        transform: rotateY(0deg) rotate(-45deg) scale(1);
        filter: drop-shadow( 0 0 2px rgb(255, 255, 255));
    }
}



section,
.hero-container {
    position: relative;
    margin-bottom: 10em;
}

#hero h1 {
    font-family: "Cinzel", serif;
    font-size: 3em;
    font-weight: lighter;
    color: #e43f5a;
    margin: auto;
}

#hero h2 {
    color: #e43f5a;
    font-weight: lighter;
    font-size: 5em;
    line-height: 0.6;
    margin: auto;
}

#hero h3 {
    font-weight: lighter;
    font-size: 2em;
    color: #e43f5a;
    margin-top: 0.5em;
}

.tri-shade {
    position: absolute;
    top: 14%;
    right: 0;
    width: 144px;
}

/*Nav*/

nav {
    margin: 1.2em 0 10em 0;
    position: relative;
}

nav .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vertical-line:before {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #272727;
    z-index: 1;
}

.vertical-line:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 33.3%;
    background: #3089b6;
    z-index: 2;
    transform-origin: bottom;
    transform: scaleX(0);
    animation: animate 2s infinite alternate;

}

nav > #enterBtn {
    cursor: pointer;
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleY(0);
        transform-origin: bottom;
        top: 33.3%;
        bottom: auto;
    }
    45% {
        transform: translateY(0) scaleY(1);
        transform-origin: bottom;
        top: 33.3%;
        bottom: auto;
    }
    50% {
        transform: translateY(0) scaleY(1);
        transform-origin: top;
        top: auto;
        bottom: 33.3%;
    }
    100% {
        transform: translateY(0) scaleY(1);
        transform-origin: top;
        top: auto;
        bottom: 33.3%;
    }
}

nav h2 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

nav h2 .coloured-dot {
    color: #e43f5a;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: #e43f5b;
    padding: 10rem;
}

#card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.cards {
    min-width: 80%;
    height: 750px;
    perspective: 1000px;
}

.cards:nth-child(even) {
    margin-right: 10%;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-visual {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-visual--front {
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-visual--front.scrolled {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    transition: transform 0.8s ease-in-out;
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: rotateY(1deg);
    }

    20%, 80% {
        transform: rotateY(-2deg);
    }

    30%, 40%, 50%, 70% {
        transform: rotateY(-3deg);
    }

    60% {
        transform: rotateY(3deg);
    }
}

.card-visual--container {
    display: flex;
    align-items: center;
    padding: 1em;
    flex-grow: 1;
}

.cards:nth-child(even) .card-visual--container {
    flex-direction: row-reverse;
    flex-grow: 8;
}

.card-visual .index {
    font-size: 10em;
    font-weight: 900;
}

.card-visual--front h2 {
    color: #eeeeee;
    font-size: 2em;
}

.card-visual--content {
    display: flex;
    margin: 0 1.5em 4em;
    flex-direction: column;
}

.cards:nth-child(even) .card-visual--content {
    align-items: flex-end;
}

.card-visual--content .hr-blue {
    border: 2px solid #3089b6;
    width: 2.5em;
}

.card-visual--back {
    background-color: #3089b6;
    transform: rotateY(180deg);
    cursor: initial;
}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#about .card-visual--back > .card-content {
    justify-content: center;
}

.cards:nth-child(even) .card-body {
    flex-direction: row-reverse;
}

.fa-icons {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.fa-icons i {
    font-size: 28px;
    margin: 20px;
    color: white;
    cursor: pointer;
}

.card-header {
    position: relative;
    padding: 30px 30px 40px;
    display: flex;
    align-items: center;
}

.card-header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.profile {
    transform-origin: 35% 35%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    transform: rotate(45deg) translateY(10px);
    position: relative;

}

.profile > img {
    position: absolute;
    left: -30%;
    bottom: -5%;
    width: 205%;
    transform: rotate(-45deg);
}

.card-header h2 {
    color: #eeeeee;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.card-header span {
    font-family: 'Raleway', serif;
}

.card-header .card-body--index {
    font-size: 10em;
    font-weight: 900;
    font-family: "Cinzel", serif;
}

.card-body {
    max-width: 400px;
    padding: 30px;
    position: relative;
}

.card-body h3 {
    color: #eeeeee;
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: 'Radley', serif;
}

.card-body a {
    text-decoration: none;

}

.card-body p {
    color: #eeeeee;
    width: 300px;
}

.card-body .contact-mail, a {
    color: #f2f2f2;

}

.contact-mail > a {
    text-decoration: underline;
}

.card-visual .heading {
    display: block;
    color: #3089b6;
    font-weight: 500;

}

.card-visual--front .subheading {
    display: block;
}

.card-body--inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 55px;
}

.card-body--inner > h3 {
    margin: 0 0 15px 0;
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Radley', serif;
}

.carousel-container {
    margin: auto;
    position: relative;
    max-width: 450px;
}

.imageSlides .img {
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.imageSlides img {
    width: 100%;
    vertical-align: center;
}

.imageSlides {
    font-family: 'Raleway', serif;
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    overflow: hidden;
    position: relative;
}

.imageSlides .text-header {
    font-weight: bold;
}

.tech-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
}

.tech-list > span {
    align-self: flex-start;
    text-transform: uppercase;
    font-size: small;
}

.tech-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 300px;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 2px 5px 0 5px;
    background: #3c4146;
    border-right: 3px solid #3089b6;
}
.github-icon {
    margin-top: 10px;
}
.github-icon a {
    cursor: pointer;
    font-size: 16px;
}

.text {
    color: #f2f2f2;
    text-transform: none;
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.card-body--content {
    display: flex;
}
.arrow-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 30px;
    top:25%;
    z-index: 100;
}

.arrow-container i {
    background-color: rgba(114, 114, 114, 0.25);
    color: #666f77;
    cursor: pointer;
    height: 30px;
    padding: 15px;
    font-size: 1.5em;
    transition: color .5s, color .5s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.arrow-container  i:hover{
    color: #212121;
}

i .prev {
padding-right:20px ;
}

i .next {
    padding-left: 20px;
}

footer {
    box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 3em;
    background-color: #262728;
    margin-top: 10em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

#toTopButton {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 99;
    outline: none;
    background-color: transparent;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 12px 3px 12px;
    border: none;
    scroll-behavior: smooth;
}

#toTopButton > .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
}

#toTopButton > .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#toTopButton:hover {
    color: #e43f5a;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen
and (min-device-width: 280px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    #about, #showcase, #contact {
        margin: 0 0 5em;
    }

    #brand-logo img {
        max-width: 13%;
    }

    .hero-container {
        margin: auto;

    }

    #enterBtn {
        display: none;
    }

    nav .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav a {
        padding: 2rem;
    }

    .vertical-line {
        display: none;
    }

    .tri-shade {
        display: none;
    }

    #hero {
        margin-bottom: 10em;
        padding-top: 0;
    }


    #hero .tri-img {
        display: none;
    }

    #hero h1 {
        font-size: 2rem;
        margin-top: 1em;
        color: #f2f2f2;
    }

    #hero h2 {
        font-size: 3rem;
    }

    #hero h3 {
        font-size: 1.5rem;
        color: #f2f2f2;
    }

    .cards {
        min-width: 350px;
        height: 800px;
    }

    .card-visual {

    }

    .card-visual .heading {
        font-size: 1em;
    }

    .card-visual--container {
        flex-direction: column;
        align-items: baseline;
    }

    .cards:nth-child(even) .card-visual--container {
        flex-direction: column;
        margin-left: 7.5em;
    }

    .cards:nth-child(even) .card-visual--content {
        align-items: normal;
    }

    .card-visual .index {
        font-size: 8em;
    }

    .card-visual--front .subheading {
        font-size: 1em;
    }

    .card-content {
        justify-content: end;
        flex-direction: column;
        align-items: center;
    }

    .card-body {
        padding: 0;
    }

    .card-body > h3 {
        margin: 0 0 15px 0;
    }

    .imageSlides .img {
        height: 220px;
    }

    .card-body--inner {
        margin: 0;
        align-items: center;
    }

    .card-body--inner > h3 {
        margin: 0 0 15px 0;
        font-size: 1.5em;
        font-weight: normal;
        font-family: 'Radley', serif;
    }


    .card-header {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 20px 40px;
    }

    .profile {
        transform-origin: 55% 55%;
        margin: 50px;
        width: 110px;
        height: 110px;
    }

    .card-header .card-body--index {
        font-size: 5em;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

    .profile img {
        width: auto;
        height: 170px;
        margin: 0;
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

@media only screen
and (min-device-width: 736px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    #hero .tri-img {
        max-width: 40%;
    }

    #hero h1 {
        font-size: 3em;
    }

    #hero h2 {
        font-size: 4em;
    }

    .tri-shade {
        width: 120px;
    }

    #brand-logo img {
        max-width: 5%;
    }

    .card-visual .index {
        font-size: 8em;
    }

    .card-visual--front .subheading {
        font-size: 1em;
    }

    .card-content {

    }

    .card-body {
        padding: 0;
    }

    .card-body > h3 {
        margin: 0 0 15px 0;
    }

    .imageSlides .img {
        height: 250px;
    }

    .card-body--inner {
        margin: 0;
        align-items: center;
    }

    .card-body--inner > h3 {
        margin: 0 0 15px 0;
        font-size: 1.5em;
        font-weight: normal;
        font-family: 'Radley', serif;
    }

 /*   .prev, .next {
        position: fixed;
        color: white;
        z-index: 100;
        font-size: 3em;
        transform: rotate(0deg);
    }

    .prev {
        top: 90%;
        left: 5%;
    }

    .next {
        top: 90%;
        left: 80%;
    }*/

    .card-header {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 20px 40px;
    }

    .profile {
        transform-origin: 55% 55%;
        width: 110px;
        height: 110px;
    }

    .card-header .card-body--index {
        font-size: 5em;
    }
}


